@use "../abstracts/" as *;
.staff {
  display: flex;
  flex-direction: column;

  width: 100vw;

  padding-top: 10vw;

  background-color: $color-cream;

  &__meetstaff {
    // meet staff container, title, and paragraph
    &--boss-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--text {
      &-container {
        padding: 4vw;

        hr {
          @include base-hr-style($color-burgandy-light, 1px);
        }
      }

      &__title {
        margin: 2vw auto;

        text-align: center;
      }

      &__paragraph {
        margin: 2vw auto;

        font-size: $sm-text-mobile;
        padding: 0 4vw;

        line-height: 3rem;
      }
    }
  }

  .boss-card {
    margin: 3vw auto;
    text-align: center;

    // ceo img background container ids
    #david-price,
    #sally-price {
      width: 10rem;
      height: 10rem;

      img {
        position: relative;
        top: 37%;
        transform: scale(1.75);
      }
    }

    .name-email-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      &--name {
        font-size: 1.75rem;

        margin: 0 2vw;
      }

      &--title {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: $md-device) {
  .staff {
    &__meetstaff {
      &-container {
        display: flex;
        justify-content: space-between;

        width: 100%;
      }
      &--text {
        &__title {
          margin: 2vw auto;
          text-align: center;
        }

        &__paragraph {
          font-size: $sm-text-desktop;
          line-height: 8rem;
        }
      }

      &--boss-container {
        display: flex;
        flex-direction: row;
        // padding-right: 4vw;
        .boss-card {
          margin: auto 2vw;
          .name-email-container {
            height: auto;
          }

          img {
            width: auto;

            border-radius: 4px;
            transform: none;
          }
          #david-price,
          #sally-price {
            width: 20rem;
            height: 20rem;
          }
        }
      }
    }
  }
}
