@use "../abstracts/" as *;

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;

  //   ? for some reason I need this both here and in the media query
  &-bg {
    background-image: linear-gradient(
        to right bottom,
        $color-cream-opacity8,
        $color-lighter-brown-opacity8
      ),
      url(../../../images/lagoon-valley-pic.webp);
    width: 100vw;
    background-position: 20%;
    background-repeat: no-repeat;
    margin-top: -17vw;
    padding-bottom: 5vh;
  }
  &-statement-container {
    padding: 15vw 5vw;
    background-color: $color-company-white;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__text {
    &--title {
      @include titleFontSize(full);

    
      letter-spacing: 1vw;
      margin-bottom: 3vw;
      // * below is for larger vw
      //  line-height: 5vw;
    }
    &--paragraph {
      @include paragraphFontSize(phone);
      line-height: 4vw;
      margin-bottom: 5vw;
    }
  }

  &-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  &-card {
    @include base-animation;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: clamp(1rem, 2vw, 3rem);
    width: 80vw;
    border-radius: $base-br;
    background-color: $color-company-white-opacity8;
    -webkit-box-shadow: 0px 0px 5px 0px $color-lighter-brown;
    -moz-box-shadow: 0px 0px 5px 0px $color-lighter-brown;
    box-shadow: 0px 0px 5px 0px $color-lighter-brown;
    border: solid 1px $color-lighter-brown;
    color: $color-burgandy-dark;

    &__icon {
      height: clamp(2.5rem, 6vw, 6rem);
      margin: 1rem;
    }
    &__text {
      &--title {
        @include cardTitleFontSize(phone);

        margin: clamp(0.5rem, 0.5vw, 2rem) 0;
      }
      &--paragraph {
        @include cardParagraphFontSize(phone);
        color: $color-tar-600;
        text-align: center;
      }
    }

    &:hover {
      transform: translateY(-5%);
      background-color: $color-company-white;
    }
  }
}

@media (min-width: 768px) {
  .mission {
    &-card {
      width: 60%;

      &__text {
        &--paragraph {
          @include cardParagraphFontSize(tablet);
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .mission {
    &-bg {
      background-size: cover;
      padding-bottom: clamp(20rem, 55vh, 160rem);
    }
    &-statement-container {
      padding-left: 10vw;
      padding-right: 10vw;
    }
    &-cards-container {
      grid-template-columns: repeat(3, 1fr);
      height: clamp(10rem, 100vh, 110rem);
      align-content: end;
    }

    &-card {
      width: 25vw;
    

      &__text {
        &--paragraph {
          @include paragraphFontSize(phone);
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .mission {
    &__statement-container {
      width: 50%;
    }

    &__text {
      &--paragraph {
        width: 50%;
      }
    }
  }
}

@media (min-width: 5000px) {
  .mission {
    &-bg {
      display: flex;
      justify-content: center;
    }

    &-card {
      width: 20vw;
      &__text {
        &--title {
          margin: 2vw 0;
        }
        &--paragraph {
          color: $color-tar-600;
        }
      }
    }
  }
}
