@use "../abstracts/" as *;

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;

  //   ? for some reason I need this both here and in the media query
  &-bg {
    width: 100vw;
    height: 100%;

    margin-top: -17vw;
    padding-bottom: 5vh;

    background-image: linear-gradient(
        to right bottom,
        $color-cream-opacity8,
        $color-lighter-brown-opacity8
      ),
      url(/images/lagoon-valley-pic.webp);
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-statement-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15vw 5vw;

    background-color: $color-company-white;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }

  &__text {
    &--title {
      margin-bottom: 3vw;
      font-size: 3rem;
      letter-spacing: 1vw;

      &-2 {
        position: relative;
        width: 100%;
        margin-bottom: 4rem;
        text-align: center;
      }
    }
    &--paragraph {
      @include paragraphFontSize(phone);

      margin-bottom: 10vw;
      line-height: 4vw;
      font-style: italic;
      text-align: center;
    }
  }

  &-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
  }

  &-card {
    @include base-animation;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;

    margin: auto;
    @include clamp("padding", 1rem, 2vw, 0.1rem, 3rem);

    background-color: $color-company-white-opacity8;
    color: $color-burgandy-dark;

    border-radius: $base-br;
    box-shadow: 0px 0px 5px 0px $color-lighter-brown;
    border: solid 1px $color-lighter-brown;

    &__icon {
      @include clamp("height", 2.5rem, 6vw, 0.1rem, 6rem);
      margin: 1rem;
    }
    &__text {
      &--title {
        @include cardTitleFontSize(phone);
        @include clamp("margin", 0.5rem, 0.5vw, 0.1rem, 2rem);
        margin-left: 0;
        margin-right: 0;
      }
      &--paragraph {
        @include cardParagraphFontSize(phone);
        color: $color-tar-600;
        text-align: center;
      }
    }

    &:hover {
      transform: translateY(-5%);
      background-color: $color-company-white;
    }
  }
}

@media (max-width: 424px) {
  .mission {
    &-bg {
      margin-top: -20vw;
    }
  }
}

@media (min-width: 768px) {
  .mission {
    &__text {
      &--title {
        font-size: 6rem;
      }
    }
    &-card {
      width: 60%;

      &__text {
        &--paragraph {
          @include cardParagraphFontSize(tablet);
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .mission {
    &-bg {
      background-size: cover;
      @include clamp("padding-bottom", 20rem, 55vh, 0.1rem, 160rem);
    }
    &-statement-container {
      padding-left: 10vw;
      padding-right: 10vw;
    }
    &-cards-container {
      grid-template-columns: repeat(3, 1fr);
      align-content: end;
      @include clamp("height", 10rem, 50vh, 0.1rem, 110rem);
    }
    &-card {
      width: 25vw;

      &__text {
        &--paragraph {
          @include paragraphFontSize(phone);
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .mission {
    &__statement-container {
      width: 50%;
    }

    &__text {
      &--paragraph {
        width: 50%;
      }
    }
  }
}

@media (min-width: 5000px) {
  .mission {
    &-card {
      width: 20vw;
      &__text {
        &--title {
          margin: 2vw 0;
        }
        &--paragraph {
          color: $color-tar-600;
        }
      }
    }
  }
}
