@use "../abstracts/" as *;

.staff {
  &__stafflist {
    &-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      justify-items: center;
      align-items: center;
    }
  }

  &__meetstaff {
    &--text {
      &__title {
        font-size: $title-mobile-size;
      }
    }
  }

  &-card {
    text-align: center;
    margin: 2rem 0;

    &__img-bg {
  
      width: 10rem;
      height: 10rem;

      margin: auto;

      border-radius: 50%;
      border: solid 2px $color-burgandy-light;
      overflow: hidden;

      img {
        // WHEN I GET THE ACTUAL IMAGES THEY WILL BE PRECROPPED AND THESE
        // TRANSFORMS LIKELY WILL NOT BE NECESSARY
        transform: scale(1.75) translate(0, 1rem);

        width: 100%;
        height: 100%;

        border-radius: 50%;
      }
    }

    .name-email-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      &--name {
        margin-right: 2vw;
        font-size: 1.75rem;
      }
      &--title {
        font-size: 1.5rem;
      }
    }
  }
  a {
    &:hover {
      color: $color-burgandy-light;
    }
  }
}

.meet-the-staff {
  font-size: 3rem;

  margin: 3vw 0;

  text-align: center;
  text-transform: capitalize;
  &-hr {
    @include base-hr-style($color-burgandy-light, 1px);
  }
}

@media (min-width: 375px) {
  .staff {
    &-card {
      img {
        // WHEN I GET THE ACTUAL IMAGES THEY WILL BE PRECROPPED AND THESE
        // TRANSFORMS LIKELY WILL NOT BE NECESSARY
        transform: scale(1.5) translate(0, 1.25rem);
      }
    }
  }
}

@media (min-width: 550px) {
  .staff {
    &-card {
      img {
        // WHEN I GET THE ACTUAL IMAGES THEY WILL BE PRECROPPED AND THESE
        // TRANSFORMS LIKELY WILL NOT BE NECESSARY
        // transform: scale(1.5) translate(0, 2.5rem);
      }
    }
  }
}

@media (min-width: 768px) {
  .staff {
    &-card {
      &__text {
        &--name {
          margin-right: 1vw;
          font-size: 2rem;
        }
        &--title {
          font-size: 1.75rem;
        }
      }
    }
  }
}

@media (min-width: $md-device) {
  .staff {
    &__meetstaff {
      &--text {
        &__title {
          font-size: $title-desktop-size;
        }
      }
      &--boss-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 4vw;
      }
    }
    &__stafflist {
      &-grid {
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
      }
    }
  }
  .meet-the-staff {
    font-size: $title-mobile-size;
  }
}
