@use "../abstracts/" as *;

.staff {
  &__stafflist {
    &-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-items: center;
      align-items: center;
    }
  }

  &-card {
    text-align: center;
    width: 50%;
    margin: 2rem 0;

    img {
      width: 100%;
      border-radius: $base-br;
    }
    .name-email-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      &--name {
        margin-right: 2vw;
        @include staffCardName;
      }
      &--title {
        @include staffCardTitle;
      }
    }
  }
  a {
    &:hover {
      color: $color-burgandy-light;
    }
  }
}

.meet-the-team {
  @include titleFontSize(half);
  text-align: center;
  margin: 3vw 0;
  text-transform: capitalize;
  &-hr {
    @include base-hr-style($color-burgandy-light, 1px);
  }
}

@media (min-width: 768px) {
  .staff {
    &-card {
      &__text {
        &--name {
          margin-right: 1vw;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .staff {
    &__stafflist {
      &-grid {
        grid-template-columns: repeat(auto-fill, minmax(33vw, 1fr));
      }
    }
  }
}
