@use "../abstracts/" as *;

button {
  cursor: pointer;

}
.button {
  &__rounded {
    @include roundedBtn($color-light-brown, $color-lighter-brown);
    &--transparent {
      @include roundedBtnTransparent($color-light-brown, $color-lighter-brown);
    }
  }
}

.icon {
  color: $color-white-200;
  @include base-animation;

  &:hover,
  &:visited {
    color: $color-lighter-brown;
    transform: scale(1.05) translateY(-5%);
  }
}



@media (min-width: 1000px) {
  .footer {
    button {
      margin: 1rem auto 2rem auto;
    }
  }
}


@media (min-width: 3400px) {
  .footer {
    .button {
      margin: 5rem auto 15rem auto;
    }
  }
}


