@use "../abstracts/" as *;

.error {
  &__form-submission {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    font-size: $title-desktop-size;

    padding: 3rem;
    button {
      margin: auto;
    }
  }
}
