@use "../abstracts/" as *;

#hamburger {
  display: none;
  border-top: 2px solid $color-light-brown;
  height: 25px;
  width: 30px;

  box-sizing: border-box;
  position: fixed;
  z-index: 30;
  right: 20px;
  top: 15px;

  cursor: pointer;
  @include transition(all 0.3s ease-in);
  &:before {
    content: "";
    display: block;
    position: absolute;

    height: 2px;
    width: 30px;
    left: 0;
    top: 10px;

    background: $color-light-brown;

    @include transition(all 0.3s ease-in);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;

    height: 2px;
    width: 30px;

    background: $color-light-brown;

    @include transition(all 0.3s ease-in);
  }
}

///////////////////////////
// ! MEDIA QUERIES
///////////////////////////
@media (max-width: $md-device) {
  #hamburger {
    display: flex;
  }
}
