@use "../abstracts/" as *;

.composition {
  display: none;
  position: relative;

  &__photo {
    position: absolute;
    width: 25vw;

    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    outline-offset: 2rem;

    transition: all 0.2s;
    &:hover {
      outline: 0.5rem solid $color-burgandy-light;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 3;
    }

    &--p1 {
      top: 10vw;
      left: 0vw;
      
      z-index: 2;
    }
    &--p2 {
      top: 3vw;
      left: 16vw;
    }
    &--p3 {
      top: 25vw;
      left: 10vw;
    }
    &--p4 {
      top: 41vw;
      left: 20vw;
    }
    &--p5 {
      top: 37vw;
      left: 0vw;
    }
  }
}

@media (min-width: $md-device) {
  .composition {
    display: block;
  }
}
