@use "../abstracts/" as *;

#logo {
  &-1 {
    margin-left: 3rem;
    width: clamp(20rem, 20vw, 80rem);
  }
}

///////////////////////////
// ! Media Queries
///////////////////////////

@media (min-width: 1000px) {
  #logo {
    &-2 {
      width: clamp(3rem, 10vw, 10rem);
    
    }
  }
}

@media (min-width: 5000px) {
  #logo {
    &-1 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: clamp(20rem, 18vw, 80rem);
    }
  }
}
