@use "../abstracts/" as *;

#logo {
  &-1 {
    margin-left: 3rem;
      @include clamp('width', 20rem, 20vw, .1rem, 80rem);
  }
}

///////////////////////////
// ! Media Queries
///////////////////////////

@media (min-width: 1000px) {
  #logo {
    &-2 {
      @include clamp('width', 3rem, 10vw, .1rem, 10rem);
    }
  }
}

@media (min-width: 5000px) {
  #logo {
    &-1 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      
      @include clamp('width', 20rem, 18vw, .1rem, 80rem);
    }
  }
}
