@use "../abstracts/" as *;

.mobile-nav-list {
  position: fixed;
  z-index: 10;
  list-style-type: none;
  margin: 100px 0 0 20px;
  padding: 0;
  //   changing the animation from growing into a width to moving with
  // right fixed the issue of the boxes collapsing on the text
  right: -20rem;
  overflow: hidden;
  visibility: hidden;
  @include transition(all 0.4s ease-in);

  li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: capitalize;
    height: 30px;
    width: 200px;
    margin: 30px 0;
    background: #eae8e5;
    opacity: 0;
    border-radius: 4px;

    @include transition(all 0.15s ease-in);
    & + li {
      margin-right: -40px;

      & + li {
        margin-right: -80px;

        & + li {
          margin-right: -120px;
        }
      }
    }
    &:hover,
    &:visited {
      transform: translateY(-10%);
      background-color: wheat;

    }
  }
}
.mobile-active {
  ul {
    right: 1rem;
    visibility: visible;
  }
  .mobile-nav-list li {
    margin-right: 0;
    opacity: 100;
  }
  #hamburger {
    border-color: transparent;
    &:before {
      @include rotate(45deg);
      width: 33px;
      left: -2px;
    }
    &:after {
      @include rotate(135deg);
      bottom: 11px;
      width: 33px;
      left: -2px;
    }
  }
}

///////////////////////////
// ! MEDIA QUERIES
/////////////////////////// 

@media (min: $md-device) {
  .mobile-nav-list, .mobile-active, #hamburger {
    display: none;
  }
}