@use "../abstracts/" as *;

.mobile-nav-list {
  position: fixed;
  z-index: 10;
  right: -20rem;

  list-style-type: none;
  margin: 100px 0 0 20px;
  padding: 0;

  height: 100vh;
  height: 100svh;
  //   changing the animation from growing into a width to moving with
  // right fixed the issue of the boxes collapsing on the text

  overflow: auto;
  visibility: hidden;
  @include transition(all 0.4s ease-in);

  li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 200px;

    font-size: 2rem;
    text-transform: capitalize;

    margin: 30px 0;
    background: #eae8e5;
    opacity: 0;
    border-radius: 4px;

    @include transition(all 0.15s ease-in);
    & + li {
      margin-right: -40px;

      & + li {
        margin-right: -80px;

        & + li {
          margin-right: -120px;
        }
      }
    }
    &:hover,
    &:visited {
      transform: translateY(-10%);
      background-color: wheat;
    }
  }
}
.mobile-active {
  ul {
    right: 1rem;
    visibility: visible;
  }
  .mobile-nav-list li {
    margin-right: 0;
    opacity: 100;
  }
  #hamburger {
    border-color: transparent;
    &:before {
      @include rotate(45deg);
      width: 33px;
      left: -2px;
    }
    &:after {
      @include rotate(135deg);

      width: 33px;
      left: -2px;
      bottom: 11px;
    }
  }
}

///////////////////////////
// ! MEDIA QUERIES
///////////////////////////

@media (min: $md-device) {
  .mobile-nav-list,
  .mobile-active,
  #hamburger {
    display: none;
  }
}
@media screen and (orientation: landscape) and (max-width: 1100px) {
  .mobile-nav-list {
    margin: 100px 0 0 50px;

    //   changing the animation from growing into a width to moving with
    // right fixed the issue of the boxes collapsing on the text
    overflow: auto;
    visibility: hidden;

    @include transition(all 0.4s ease-in);

    li {
      height: 20px;
      width: 140px;

      font-size: 1.5rem;
      margin: 20px 0;
      background: #eae8e5;
      opacity: 0;
      border-radius: 4px;
    }
  }
}
