@use "../abstracts/" as *;

.team-message {
  position: relative;
  z-index: 1;

  padding: 15vh 5vw;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-color: $color-company-white;
  &__text {
    &--title {
    width: 75%;
    
    margin: 2vw auto;

      text-align: center;
      @include titleFontSize(half);
    }
    &--paragraph {
      width: 75%;

      margin: 2vw auto;

      line-height: 4vw;
      @include paragraphFontSize(phone);
      @include clamp("line-height", 2.5rem, 2vw, 0.1rem, 5rem);
    }
  }
}

@media (max-width: 375px) {
  .team-message {
    padding: 7vh 5vw 25vh 5vw;
  }
}

@media (min-width: 1000px) {
  .team-message {
    // width: 75%;
    @include clamp("padding-top", 15rem, 15vh, 0.1rem, 20rem);
    margin: auto;
  }
}

@media (min-width: 4000px) {
  .team-message {
    // need to keep so padding top doesnt change
    padding: 10vw;
    @include clamp("padding-top", 15rem, 15vh, 0.1rem, 20rem);
  }
}
