@use "../abstracts/" as *;

.team-message {
  position: relative;
  z-index: 1;

  padding: 15vh 5vw;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-color: $color-company-white;
  &__text {
    &--title {
      width: 75%;

      font-size: $title-mobile-size;

      margin: 2vw auto;

      text-align: center;
    }
    &--paragraph {
      width: 75%;

      margin: 2vw auto;

      line-height: 4vw;

      font-size: $sm-text-mobile;

      line-height: 3rem;
    }
  }
}

@media (max-width: 375px) {
  .team-message {
    padding: 7vh 5vw 25vh 5vw;
  }
}
@media (min-width: 768px) {

  .team-message {
    &__text {
      &--title {
        font-size: $title-desktop-size;
      }
      &--paragraph {
        font-size: $sm-text-desktop;
      line-height: 5rem;

      }
    }
  }
}



