@use "../abstracts/" as *;

.testimonial {
  &__container {
    position: relative;
    padding-top: 30rem;
    margin-top: -25rem;

    background-image: linear-gradient(
        to right bottom,
        $color-cream-opacity8,
        $color-lighter-brown-opacity8
      ),
      url(/images/high-angle-shot-magnificent-mountains-covered-with-trees-blue-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 3vw;

    .button {
      top: 7.5%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      height: auto;

      font-size: 3rem;
      padding: 2rem;

    }
  }
  &__icon {
    position: relative;
    left: -2rem;
  }
  &__card {
    min-width: 60%;
    max-width: 85%;

    margin: 4vw auto;
    padding: 6rem;
    padding-left: 9rem;

    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);

    border-radius: 3px;

    font-size: 3rem;
    // change this for mobile ?
    transform: skewX(-12deg);
  }

  &__text {
    transform: skewX(12deg);

    width: 70%;

    margin: auto;
    &--caption {
      text-transform: capitalize;
      font-weight: 800;

      font-size: 4rem;
      text-align: left;
    }
  }
}

@media (max-width: 425px) {
  .testimonial {
    &__card {
      min-width: 75%;

      margin: 3rem auto;
      padding: 2rem;

      font-size: 0.6rem;

      // change this for mobile
      transform: skewX(0);
    }
    &__text {
      transform: skewX(0);

      &--caption {
        margin-left: 1rem;
      }
    }
  }
}

@media (max-width: $md-device) {
  .testimonial {
    &__container {
      padding-top: 25rem;
    }
    &__card {
      // change this for mobile
      transform: skewX(-12deg);

      padding: 1rem;

      margin: 3rem auto;
      font-size: 1.5rem;
    }

    &__text {
      transform: skewX(12deg);
      &--caption {
        font-size: 2rem;
      }
    }
    &__img {
      transform: translateX(-0.75rem);
    }
  }
}

@media (min-width: 2000px) {
  .testimonial {
    &__card {
      width: 50%;
    }
  }
}

@media (min-width: 3000px) {
  .testimonial {
    &__text {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .testimonial {
    &__card {
      width: 100%;

      margin: 4vw auto;
      padding: 1rem;

      font-size: 1.25rem;

      transform: skewX(0);
    }
    &__text {
      transform: skewX(0);

      width: 100%;

      margin: auto;
      &--caption {
        font-size: 2rem;
      }
    }
    &__container {
      .button {
        padding: 5px;
        font-size: 1.25rem;
      }
    }
  }
}
