@use "../abstracts/" as *;


.value-cards-container {  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;

    width: 100%;

  @include clamp("margin-top", 10rem, 25vw, 0.1rem, 40rem);
}

.value-card {  width: 80vw;

  @include base-animation;

  border-radius: $base-br;
  background-color: $color-company-white-opacity8;
  box-shadow: 0px 0px 5px 0px $color-lighter-brown;

  &:hover {
    transform: translateY(-5%);
  }
  img {
    width: 100%;
  }
}

///////////////////////////
// ! MEDIA QUERIES
///////////////////////////

@media (min-width: 768px) {
  .value-card {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .value-cards-container {
    grid-template-columns: repeat(3, 1fr);
    @include clamp("height", 10rem, 50vh, 0.1rem, 110rem);
    align-content: end;
  }

  .value-card {
    width: 25vw;
  }
}

@media (min-width: 3000px) {
  .value-cards-container {
    @include clamp("margin-top", 10rem, 55vw, 0.1rem, 170rem);
  }
}
