@use "../abstracts/" as *;

.footer {
  width: 100vw;
  background-color: $color-darker-brown;
  padding: 2rem;
  color: $color-cream;

  &__logo-container {
    width: 75%;
    display: flex;
    justify-content: flex-end;
  }
  img {
    width: 10rem;
  }
  &__text {
    &--h1 {
      width: 80%;
      @include footerTitleFontSize(phone);
    }
  }

  & hr {
    margin: 2rem auto;
    width: 75%;
    text-align: center;
    height: 1px;
    border: none;
    background-color: $color-cream;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__list {
    @include paragraphFontSize(tablet);
    &1,
    &2,
    &3 {
      margin: auto;
      li {
        margin: 1.5rem;
        text-align: start;
        a:hover {
          color: $color-lighter-brown;
        }
      }
    }
    &-container {
      width: 95%;
      margin: auto;
      display: flex;
      justify-content: space-between;

      &--horizontal {
        margin: auto;
        @include navLinkFontSize;

        &__social-container {
          width: 100%;
          text-align: center;

          margin: auto auto 4rem auto;
        }

        & ul {
          display: flex;
          justify-content: space-between;

          .footer__icon-container {
            margin: auto;
            width: 60%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    @include copyrightFontSize;
    & span {
      margin: 0.5rem 0;
      text-transform: capitalize;
    }
  }
}

@media (min-width: $md-device) {
  .footer {
    &__list {
      // left two cols of links
      &1,
      &2,
      &3 {
        li {
          a:hover {
            color: $color-cream;
          }
        }
      }
      & a {
        @include linkHoverAnimation(
          $color-cream,
          $color-lighter-brown,
          clamp(20px, 2.5rem, 90px),
          1.5px
        );
        &:hover {
          color: $color-cream;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .footer {
    padding: 2rem 10rem;

    &__button-container {
      a {
        margin: 1rem auto 2rem auto;
      }
    }

    &__list {
      @include navLinkFontSize;
    }
  }
}

@media (min-width: 1300px) {
  .footer {
    &__logo-container {
      width: 85%;
    }

    &__list {
      &-container {
        width: 90%;
        // ? check if this does anything

        & ul {
          & li {
            margin: 2.5rem;
            text-align: start;
          }
        }

        &--horizontal {
          width: 60%;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .footer {
    &__logo-container {
      width: 90%;
    }

    &__button-container {
      margin: auto;
      width: 50%;
      button {
        margin: 1rem auto 2rem auto;
      }
    }
  }
}

@media (min-width: 1800px) {
  .footer {
    h1 {
      width: 50%;
      text-align: end;
    }

    &__list {
      &-container {
        & ul {
          & li {
            margin: 3rem;
          }
        }
      }
    }

    &__copyright {
      & span {
        margin: 1rem 0;
      }
    }
  }
}

@media (min-width: 3000px) {
  .footer {
    &__list {
      &-container {
        &--horizontal {
          margin: auto;
        }
      }
    }
  }
}

@media (min-width: 3400px) {
  .footer {
    &__button-container {
      margin: 5rem auto 15rem auto;
    }
  }
}

@media (min-width: 4000px) {
  .footer {
    &__text {
      &--h1 {
        text-align: center;
      }
    }

    &__button-container {
      width: 60%;
    }

    &__list {
      &-container {
        width: 80%;
        justify-content: space-around;

        &--horizontal {
          margin-top: 5rem;
        }
      }
    }
  }
}

@media (min-width: 6000px) {
  .footer {
    &__text {
      &--h1 {
        width: 70%;
      }
    }

    &__list {
      &-container {
        & ul {
          & li {
            margin: 10rem;
          }
        }

        &--horizontal {
          & ul {
            & li {
              &:first-child {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}