@use "../abstracts/" as *;

#header {
  position: fixed;
  z-index: 5;

  width: 100vw;
  min-height: 5vw;
  max-height: 25rem;

  background-color: $color-company-white;
  box-shadow: 0px 4px 15px -10px rgba(0, 0, 0, 0.75);
}

///////////////////////////
// ! MEDIA QUERIES
///////////////////////////

@media (min-width: $md-device) {
  #header {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 2200px) {
  #header {
    justify-content: space-between;
  }
}
