@use "../abstracts/" as *;

#mobile-main {
  background: $color-company-white;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  @include transition(all 0.4s ease-in);
}

.mobile-active {
  #mobile-main {
    @include opacity(0);
    @include scale(0.85);
    visibility: hidden;
  }
}

.mobile-active {
  .screen-dimmer {
    position: fixed;
    width: 100rem;
    height: 100rem;
    background-color: $color-company-white;
    z-index: 2;
  }
}
